services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    tmpfs:
      - /var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  be-bg:
    build:
      context: ./apps/be-bg
    env_file:
      - ./apps/be-bg/.env
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"
